<div class="login-container" id="login-container">
  <div class="login-header">Logowanie</div>
  <form action="/login" method="POST">
    <div class="input-group">
      <label for="username">Nazwa użytkownika:</label>
      <input type="username" id="username" name="username" required />
    </div>
    <div class="input-group">
      <label for="password">Hasło:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="input-group">
      <input type="submit" id="login-button-confirm" value="Zaloguj" />
    </div>
  </form>
</div>
