<div class="jumbotron">
  <div class="container text-center">
    <h1>Imprezomat</h1>
    <p>
        Witaj na stronie "Imprezomat" jest to strona stworzona do pracy
        inżynierskiej "Strona internetowa służąca do organizacji imprez
        okolicznościowych" autorstwa Wojciecha Charkiewicza. Jest to strona w
        wersji bardzo technicznej, mało wizualnej strony dużo za to technicznego
        działania.
    </p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <%- include('../partials/showlast4'); %>
</div>
<br />
</div>
<br /><br />
