<div class="jumbotron">
  <div class="container text-center">
    <h1>Imprezomat</h1>
    <p>
        Witaj na stronie "Imprezomat" jest to strona stworzona do pracy
        inżynierskiej "Strona internetowa służąca do organizacji imprez
        okolicznościowych" autorstwa Wojciecha Charkiewicza. Jest to strona w
        wersji bardzo technicznej, mało wizualnej strony dużo za to technicznego
        działania.
    </p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Ostatnie zarejstrowane firmy</h3>
  <br />
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img
        src="https://placehold.it/150x80?text=IMAGE"
        class="img-responsive"
        style="width: 100%"
        alt="Image"
      />
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img
        src="https://placehold.it/150x80?text=IMAGE"
        class="img-responsive"
        style="width: 100%"
        alt="Image"
      />
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img
        src="https://placehold.it/150x80?text=IMAGE"
        class="img-responsive"
        style="width: 100%"
        alt="Image"
      />
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img
        src="https://placehold.it/150x80?text=IMAGE"
        class="img-responsive"
        style="width: 100%"
        alt="Image"
      />
    </div>
  </div>
</div>
<br />
</div>
<br /><br />
