<h3>Rejestrowanie jako dostawca usług</h3>
<form action="/registerserviceprovider" method="POST">
  <div class="mb-3">
    <label for="globalname">Nazwa:</label>
    <input
      type="text"
      class="form-control"
      id="globalname"
      name="globalname"
      required
    />
  </div>
  <div class="mb-3">
    <label for="description">Opis:</label>
    <input
      type="textbox"
      class="form-control"
      id="description"
      name="description"
      required
    />
  </div>
  <div class="mb-3">
    <label>Kategoria:</label><br />
    <input
      class="form-check-input"
      type="checkbox"
      id="category1"
      name="category1"
      value="1"
    />
    <label for="category1" class="form-check-label">Sala</label>
    <input
      class="form-check-input"
      type="checkbox"
      id="category2"
      name="category2"
      value="1"
    /><label for="category2" class="form-check-label">Katering</label>
    <input
      class="form-check-input"
      type="checkbox"
      id="category3"
      name="category3"
      value="1"
    /><label for="category3" class="form-check-label">Zespół</label>
  </div>
  <div class="mb-3">
    <label for="photo"
      >Główne zdjęcie poglądowe w formacie 16:9
      <c class="fw-lighter">(link bezpośredni)</c>:</label
    >
    <input type="photo" class="form-control" id="photo" name="photo" required />
  </div>
  <div class="mb-3">
    <label for="photo1"
      >Zdjęcie nr. 1 poglądowe w formacie 16:9
      <c class="fw-lighter">(link bezpośredni)</c>:</label
    >
    <input
      type="photo"
      class="form-control"
      id="photo"
      name="photo1"
      required
    />
  </div>
  <div class="mb-3">
    <label for="photo2"
      >Zdjęcie nr. 2 poglądowe w formacie 16:9
      <c class="fw-lighter">(link bezpośredni)</c>:</label
    >
    <input
      type="photo"
      class="form-control"
      id="photo"
      name="photo2"
      required
    />
  </div>
  <div class="mb-3">
    <label for="photo3"
      >Zdjęcie nr. 3 poglądowe w formacie 16:9
      <c class="fw-lighter">(link bezpośredni)</c>:</label
    >
    <input
      type="photo"
      class="form-control"
      id="photo"
      name="photo3"
      required
    />
  </div>
  <div class="mb-3">
    <label for="photo4"
      >Zdjęcie nr. 4 poglądowe w formacie 16:9
      <c class="fw-lighter">(link bezpośredni)</c>:</label
    >
    <input
      type="photo"
      class="form-control"
      id="photo"
      name="photo4"
      required
    />
  </div>
  <div class="mb-3">
    <label for="photo5"
      >Zdjęcie nr. 5 poglądowe w formacie 16:9
      <c class="fw-lighter">(link bezpośredni)</c>:</label
    >
    <input
      type="photo"
      class="form-control"
      id="photo"
      name="photo5"
      required
    />
  </div>
  <div class="mb-3">
    <label for="photo6"
      >Zdjęcie nr. 6 poglądowe w formacie 16:9<c class="fw-lighter">
        (link bezpośredni)</c
      >:</label
    >
    <input
      type="photo"
      class="form-control"
      id="photo"
      name="photo6"
      required
    />
  </div>
  <div class="mb-3">
    <input type="text" value="no" id="isverified" name="isverified" hidden />
    <input type="submit" id="register-button-confirm" value="Zarejestruj" />
  </div>
</form>
