<div class="userdashboard">
  <div class="userdash-item">Witaj! <%= user.username %></div>
  <div class="userdash-break"></div>
  <div class="userdash-item">
    <%- include('../partials/updateuser-field'); %>
  </div>
  <div class="userdash-item">
    <a href="/registerserviceprovider">Zarejestruj się jako usługodawca</a>
  </div>
  <div class="userdash-item"></div>
  <div class="userdash-item">Zmień hasło</div>
</div>
