.serviceprovidersgrid {
  gap: 2%;
  width: 95%;
  height: 100%;
  padding: 2%;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.serviceprovider-short-description {
  inline-size: min-content;
}
