<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <main>
      Witaj na stronie "Imprezomat" jest to strona stworzona do pracy
      inżynierskiej "Strona internetowa służąca do organizacji imprez
      okolicznościowych" autorstwa Wojciecha Charkiewicza. Jest to strona w
      wersji bardzo technicznej, mało wizualnej strony dużo za to technicznego
      działania.
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/scripts'); %>
  </body>
</html>
