<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="container">
        <div class="jumbotron">
          <h1>Imprezomat jak powstał?</h1>
          <p>
            Imprezomat powstał z myślą zrzeszenia usługodawców w przypadku
            imprez okolicznościowych, skąd pomysł na temat? Szczerze? To nie
            wiem przyszedł do głowy i się tak przyjął.
          </p>
        </div>
        <p>
          Strona jest zbudowana przy pomocy Express.Js, MongoDB a za front-end
          odpowiada bootstrap
        </p>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/scripts'); %>
  </body>
</html>
